[submodule "frontend"]
	path = frontend
	url = https://github.com/ucll-carey/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ucll-carey/backend.git
[submodule "image-service"]
	path = image-service
	url = https://github.com/ucll-carey/image-service.git
[submodule "ucll-recommendation-engine"]
	path = ucll-recommendation-engine
	url = https://github.com/ucll-carey/ucll-recommendation-engine.git
